{% extends "base/base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}

<form method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Usuario</label>
				{{form.username}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Contraseña</label>
				{{form.password}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Correo</label>
				{{form.email}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Tipo de Usuario</label>
				{{form2.tipo_usuario}}
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Guardar</button>
			</div>
		</div>
</form>
{% endblock content %}
