{% extends "base/base2.html" %}

{% block title %}Ver Materiales{% endblock  %}

{% block content %}
  <table class='table table-bordered'>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>codigo</td>
        <td>cantidad</td>
        <td>Acciones</td>
      </tr>
    </thead>

    <tbody>
      {% if materiales %}
      {% for m in materiales %}
      <tr>
        <td>{{m.nombre_material}}</td>
        <td>{{m.codigo}}</td>
        <td>{{m.cantidad}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'editar_material' m.id %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'eliminar_material' m.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h1>No Hay Registros de Materiales</h1>
      {% endif %}

    </tbody>

  </table>
{% endblock %}
