{% extends "base/base2.html" %}

{% block title %}Ver Ordenes Compra{% endblock  %}

{% block content %}
  <table class='table table-bordered'>
    <thead>
      <tr>
        <td>codigo_compra</td>
        <td>material</td>
        <td>cantidad_material</td>
      </tr>
    </thead>

    <tbody>
      {% if ordenes_comp %}
      {% for orden in ordenes_comp %}
      <tr>
        <td>{{orden.codigo_compra}}</td>
        <td>{{orden.material}}</td>
        <td>{{orden.cantidad_material}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h1>No Hay Registros de Ordenes</h1>
      {% endif %}

    </tbody>

  </table>
{% endblock %}
