{% extends "base/base2.html" %}

{% block title %}Ver Ordenes Materiales{% endblock  %}

{% block content %}
  <table class='table table-bordered'>
    <thead>
      <tr>
        <td>codigo_orden</td>
        <td>material</td>
        <td>fecha_termino</td>
        <td>cantidad_material</td>
        <td>Estado</td>
        <td>Acciones</td>
      </tr>
    </thead>

    <tbody>
      {% if ordenes_mat %}
      {% for orden in ordenes_mat %}
      <tr>
        <td>{{orden.codigo_orden}}</td>
        <td>{{orden.material}}</td>
        <td>{{orden.fecha_termino}}</td>
        <td>{{orden.cantidad_material}}</td>
        {% if orden.estado == "Pendiente" %}
        <td bgcolor="red">{{orden.estado}}</td>
        {% elif orden.estado == "Despachado" %}
        <td bgcolor="yellow">{{orden.estado}}</td>
        {% else %}
        <td bgcolor="green">{{orden.estado}}</td>
        {% endif %}
        <td>
          <a class="btn btn-primary" href="{% url 'editar_estado' orden.id %}">Cambiar Estado</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h1>No Hay Registros de Ordenes</h1>
      {% endif %}

    </tbody>

  </table>
{% endblock %}
